// Fonts
$body-font: 'Josefin Sans',
sans-serif;

// Color
$body-text-color: #1A1A1A;
$alt-text-color: #808086;
$border-color: #C4C4C4;

$blue: #197BBD;
$light-blue: #E5F5FF;
$green: #3BB75E;

$background-light-blue: #F5F5FA;
$background-grey: #FBFBFB;


// Buttons
$button-default-radius: 2px;
$button-height: 48px;
$button-height-lg: 56px;
$button-height-sm: 40px;