.ngo {
    &__profile {
        display: flex;

        &-image {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            overflow: hidden;
        }

        &-info {
            align-self: center;
            margin-left: 10px;
        }

        &-name {
            font-weight: 600;
            margin-bottom: 5px;
        }

        svg {
            fill: #ed9b40;
            width: 12px;
            height: 12px;
        }

        &-description {
            margin-bottom: 30px;

            p {
                font-size: 16px;
                line-height: 24px;
            }
        }

        &-documents {
            &-title {
                font-weight: 700;
                font-size: 20px;
                margin-bottom: 20px;
            }

            &-individual {
                background: #FFFFFF;
                border: 1px solid rgba(225, 225, 225, 0.5);
                box-sizing: border-box;
                border-radius: 3px;
                margin-bottom: 20px;
                width: 100%;
                height: 60px;
                overflow: hidden;
                position: relative;
                transition: 0.3s all linear;
                -moz-transition: 0.3s all linear;
                -webkit-transition: 0.3s all linear;
                -ms-transition: 0.3s all linear;
                -o-transition: 0.3s all linear;
                padding-left: 16px;
                min-width: fit-content;

                svg {
                    width: 20px;
                    height: 20px;
                    fill: #ed9b40;
                }

                span {
                    vertical-align: middle;
                    line-height: 60px;
                    font-size: 14px;
                    color: #010101;
                    margin-left: 16px;
                }

                &:hover {
                    -webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.15);
                    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.15);
                }
            }

            &-column {
                padding-left: 0;
            }
        }

        &-gallery {
            margin-top: 10px;

            &-title {
                font-weight: 600;
                margin-bottom: 20px;
            }

            &-image {
                margin-bottom: 10px;
            }
        }

        &-video {
            iframe {
                width: 98%;
                height: 300px;
            }
        }

        &-total {
            margin-bottom: 20px;

            p {
                &:first-child {
                    text-align: center;
                    font-size: 30px;
                    color: #419D78;
                    margin-bottom: 10px;
                }

                &:nth-child(2) {
                    text-align: center;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }

    }

    &__campaign {
        background: #FFFFFF;
        border: 1px solid rgba(225, 225, 225, 0.5);
        box-sizing: border-box;
        border-radius: 3px;
        margin-bottom: 20px;
        overflow: hidden;
        padding: 20px;
        position: relative;
        transition: 0.3s all linear;
        -moz-transition: 0.3s all linear;
        -webkit-transition: 0.3s all linear;
        -ms-transition: 0.3s all linear;
        -o-transition: 0.3s all linear;

        &-title {
            font-size: 20px;
            margin-bottom: 20px;
            font-weight: 700;

        }

        &-heading {
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
        }

        &-info {
            a {
                color: #ed9b40;
            }
        }

        &-button {
            &-wrap {
                margin-top: 20px;

                .cta__button {
                    padding: 0;
                    line-height: 40px;
                    border-radius: 4px;

                    a {
                        padding: 10px 100px;
                    }
                }
            }

        }

        &-price {
            margin-top: 10px;
            font-size: 14px;
            color: #949494;

            span {
                font-weight: 600;
                color: #000000;
                font-size: 18px;

            }
        }

        &-share {
            display: flex;
            margin-left: auto;

            svg {
                width: 16px;
                height: 16px;
                margin-left: 5px;
                fill: #949494;

                &:hover {
                    fill: #ed9b40;
                }
            }
        }
    }
}

.ui-progressbar .ui-progressbar-value {
    margin: 0 !important;
    background: #419D78;
    border-radius: 4px;
    border: none;
}

.progressbar {
    height: 10px;
    border-radius: 4px !important;
    border: 1px solid #419D78 !important;
    margin-bottom: 10px;
    margin-top: 10px;
}

@media sceen and (max-width:767px) {
    .ngo__campaign-title {
        margin-top: 30px;
    }
}

@media screen and (max-width:372px) {
    .ngo__campaign-button-wrap .cta__button a {
        padding: 0;
    }
}